@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- INICIO CARDS -->
<div class="row">
    <div class="col ml-4">
        <a class="block block-transparent text-center bg-earth" href="javascript:void(0)">
            <div class="block-content">
                <p class="font-size-h1 text-white">
                    <span>R$ </span><strong>987,00</strong>
                </p>
                <p class="font-w600 text-white-op">
                    <i class="fa fa-money mr-5"></i>Receitas Mensal
                </p>
            </div>
        </a>
    </div>

    <div class="col">
        <a class="block block-transparent text-center bg-pulse" href="javascript:void(0)">
            <div class="block-content">
                <p class="font-size-h1 text-white">
                    <span>R$ </span><strong>19,00</strong>
                </p>
                <p class="font-w600 text-white-op">
                    <i class="fa fa-ticket mr-5"></i>Despesas Mensal
                </p>
            </div>
        </a>
    </div>

    <div class="col mr-4">
        <a class="block block-transparent text-center bg-warning" href="javascript:void(0)">
            <div class="block-content">
                <p class="font-size-h1 text-white">
                    <span>R$ </span><strong>15,00</strong>
                </p>
                <p class="font-w600 text-white-op">
                    <i class="fa fa-line-chart mr-5"></i> Crédito Mensal
                </p>
            </div>
        </a>
    </div>
</div>
<!-- FINAL CARDS -->

<!-- INICIO TABELA -->
<div class="content">
    <div class="block">
        <div class="block-content">
            <table class="js-table-sections table table-hover">
                <thead>
                    <tr>
                        <th style="width: 30px;"></th>
                        <th>Lançamentos</th>
                        <th style="width: 15%;">Itens</th>
                        <th class="d-none d-sm-table-cell" style="width: 20%;">Date</th>
                    </tr>
                </thead>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Gastos Fixos</td>
                        <td>
                            <span class="badge badge-primary">Personal</span>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">October 2, 2017 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $281,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 3, 2017 12:16</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $140,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 8, 2017 12:16</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $203,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 12, 2017 12:16</span>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Gastos Mensais</td>
                        <td>
                            <span class="badge badge-info">Business</span>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">October 10, 2017 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $167,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 28, 2017 12:16</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $136,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 18, 2017 12:16</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $294,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 24, 2017 12:16</span>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Compras Parceladas</td>
                        <td>
                            <span class="badge badge-warning">Trial</span>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <em class="text-muted">October 2, 2017 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $270,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 7, 2017 12:16</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $156,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 27, 2017 12:16</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $291,00</td>
                        <td class="font-size-sm">Stripe</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="font-size-sm text-muted">October 9, 2017 12:16</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    
</div>
<!-- FINAL TABELA -->
