
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

    <div class="col-6 col-md-4 col-xl-2">
        <a class="block block-link-pop text-center" href="javascript:void(0)">
            <div class="block-content">
                <p class="font-size-h1 text-earth">
                    <strong>987&real;</strong>
                </p>
                <p class="font-w600">
                    <i class="fa fa-money text-muted mr-5"></i> Balance
                </p>
            </div>
        </a>
    </div>

